# Auto detect text files and perform LF normalization
* text=Auto
echo "*.dart linguist-detectable=true" > .gitattributes
echo "* linguist-detectable=false" >> .gitattributes
echo "!*.dart linguist-detectable=true" >> .gitattributes
