# Auto detect text files and perform LF normalization
* text=auto
# Dart dosyalarını öncelikli yap
*.dart linguist-detectable=true

# CMake dosyalarını ve native kodları GitHub dil analizinden çıkar
CMakeLists.txt linguist-detectable=false
*.cmake linguist-detectable=false
android/** linguist-vendored
ios/** linguist-vendored
linux/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored
